.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-title {
    width: 37.5vw;  
    height: 7.436vh;
    display: flex;

    margin-top: 7.821vh;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.cart-title > h1 {

 
  color: var(--black, #272727);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Poppins";
  font-size: 3.333vh;
  font-style: normal;
  font-weight: 500;
  line-height: 7.385vh; /* 221.538% */
  letter-spacing: -0.063vw;
}

.home-link {
    color: #56B280;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Roboto';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 142.222% */
letter-spacing: -0.9px;
text-decoration-line: underline;

}

.cart-remove-btn {
  color: #56B280;
  text-decoration: underline;
  border: none;
  background: none;
}

.cart-table {
  margin-left: 9vw;
  margin-top: 5vh;
  width: 85vw;
  
}

.cart-table-header>tr>th{
  font-family: 'Poppins';
  text-align: left;
  font-weight: 600;

}

.cart-table-body>tr>td{
  font-family: 'Poppins';
  text-align: left;
}