.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    height: 9.615vh;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 11.458vw;
    top: 2.564vh;
}

.logo-text {
    width: 5.92vw;
    height: 1.874vh;
    margin-left: 0.44vw;
}

.logo-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.75vw;
    height: 4.359vh;
    cursor: pointer;
    outline: none !important;
}

/* .logo-text {
    font-family: 'Inter';
    margin-left: 0.44vw;
    color: #56B280;
    font-weight: 900;
    text-decoration: none;
    font-size: 2.3vh;
    font-stretch: 2vh;
} */

.menu {
    position: absolute;
    left: 37.5vw;
    top: 3.205vh;
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-discovery {
    background: none;

    border: none;
    width: 6.5vw;

    color: var(--black, #272727);
    text-align: center;
    font-family: 'Roboto';
    font-size: 2.051vh;
    font-style: normal;
    font-weight: 600;
    outline: none !important;
    line-height: normal;
}

.menu-btn {
    color: #272727;
    background: none;
    border: none;
    width: 8.958vw;
    height: 3.205vh;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 2.051vh;
    cursor: pointer;
    text-align: center;
    outline: none !important;
}



.profile-icon {
    /* 
    background-repeat: no-repeat;background-image: url('../../assets/images/Profile.jpg');
    background-color: #fff;
    height: 4.359vh;
    width: 2.361vw;
    position: absolute;
    right: 15vw;
    top: 2.564vh;
    border: none;
    cursor: pointer;
    outline: none !important; */
    background: none;
    
}

.cart-icon {
    background-image: url("../../assets/images/Cart.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    height: 4.359vh;
    width: 2.361vw;
    position: absolute;
    right: 11.5vw;
    top: 3.077vh;
    border: none;
    cursor: pointer;
    outline: none !important;
}

.dropbtn {
    background-image: url('../../assets/images/Profile.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    height: 4.359vh;
    width: 2vw;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none !important;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
  }
  
  .dropdown {
    position: absolute;
    right: 15.361vw;
    top: 2.564vh;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 8.111vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content>button {
    width: 100%;
    padding: 5px;
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: var(--green, #56b280);;
    color: #fff;
}
  
  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .profile-btns {
    background: none;
    border: none;
    outline: none !important;
  }