.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    height: 9.615vh;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 11.458vw;
    top: 2.564vh;
}

.logo-text {
    width: 5.92vw;
    height: 1.874vh;
    margin-left: 0.44vw;
}

.logo-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.75vw;
    height: 4.359vh;
    cursor: pointer;   
}

/* .logo-text {
    font-family: 'Inter';
    margin-left: 0.44vw;
    color: #56B280;
    font-weight: 900;
    text-decoration: none;
    font-size: 2.3vh;
    font-stretch: 2vh;
} */

.menu {
    position: absolute;
    left: 37.5vw;
    top: 3.205vh;
    width: 24vw;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}

.discovery {
    background: none;
    font-family: 'Inter';
    font-weight: bolder;
    border: none;
    width: 5.903vw;
}

.menu-btn{
    background: none;
    border: none;
    width: 8.958vw;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 13px;
    cursor: pointer;
}

.profile-icon {
    background-image: url('../assets/images/Profile.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    height: 4.359vh;
    width: 2.361vw;
    position: absolute;
    right: 15vw;
    top: 2.564vh;
    border: none;
    cursor: pointer;
}

.cart-icon {
    background-image: url("../assets/images/Cart.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    height: 4.359vh;
    width: 2.361vw;
    position: absolute;
    right: 11.5vw;
    top: 3.077vh;
    border: none;
    cursor: pointer;
}